* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    flex-wrap: wrap;
    /* background-color: #111013; */
}
html {
    scroll-behavior: smooth;
}
body {
    color: #fff;
}
.btn_outer{
    padding: 10px;
    margin: 20px;
}
#btn{
    padding: 15px;
    border-radius: 20px;
    background-color: gainsboro;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
}
#a_h{
    text-decoration: none;
    color: #111013;
}

header {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
}

#nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10%;
    align-items: center;
}
nav{
    display: flex;
}
nav h1{
    padding-right: 300px;
}

span {
    color: #3CB3A3;
}

nav h1 {
    font-weight: 400;
    font-size: 1.6rem;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 0 10px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    transition: .4s ease;
}

ul li a:hover {
    color: #3CB3A3;
}

/* video background */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* main content */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding-top: 60px; /* Adjust this based on your header height */
}

.intro h3 {
    font-size: 2.5rem;
    line-height: 1.3;
}

.intro span {
    color: white;
    text-shadow: 2px 2px solid black;
}

.intro .photo img {
    border-radius: 50%;
    margin-top: 20px;
}

#about {
    padding-top: 60px; /* Adjust this based on your header height */
}

.about-col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

#bod {
    color: #fff;
}

.skillsInner {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.skillsOuter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.skillsOuter div{
    transition: transform 0.5s;
}

.skills {
    border: 1px solid black;
    
    border-radius: 40%;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px  10px black;
    padding: 10px;
}
.skillsOuter div:hover{
    transform: translateY(-13px);
}
.skills p{
    color: #111013;
    font-size: 15px;
}
.skills img{
    width: 150px;
    border-radius: 50%;
    aspect-ratio: 1;
}

.but_cer{
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    background-color: #fff;
}
.but_cer a{
    color: #111013;
}

.project_Outer {
    background-color: white;
    padding: 40px 20px;
}

.project_Inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    background-color: #111013;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    
}

.project img {
    width: 100%;
}

#contact_outer {
    background-color: white;
    padding: 40px 20px;
}

#contact_out {
    text-align: center;
}

.contact_inn {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.contact_inn input,
.contact_inn textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #f4f4f4;
}

.contact_inn input:focus,
.contact_inn textarea:focus {
    outline: none;
}

.contact_inn textarea {
    resize: none;
}
